<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fm.openinstalldemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- SDK不依赖此权限，仅在做示例中演示权限申请 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${OPENINSTALL_SCHEME}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".WakeupActivity"
            android:exported="false" />
        <activity
            android:name=".InstallActivity"
            android:exported="false" />
        <activity
            android:name=".ChannelActivity"
            android:exported="false" />

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="${OPENINSTALL_APPKEY}" />

    </application>

</manifest>